html
{
	background: #FFFFFF url("../images/in-totally-green-color-lightness-and-darkness-differs-single-color-wallpaper-can-be-interesting-hd-abstract-widescreen-wallpaper%20copy.jpg") repeat center center scroll;
}

#page
{
	z-index: 1;
	width: 900px;
	min-height: 579px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#master-header
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	left: -2px;
}

#u65
{
	z-index: 3;
	width: 900px;
	margin-right: -902px;
}

#u80
{
	z-index: 5;
	width: 900px;
	margin-right: -900px;
	left: 2px;
}

#pu85
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 114px;
	left: 39px;
}

#u85
{
	z-index: 10;
	width: 137px;
	margin-right: -137px;
	margin-top: 16px;
}

#u124
{
	z-index: 8;
	width: 435px;
	margin-right: -435px;
	left: 427px;
}

#pppu589
{
	width: 0.01px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -1px;
	margin-top: 43px;
	left: 15px;
}

#ppu589
{
	width: 0.01px;
	margin-left: 515px;
	position: relative;
}

#pu589
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	left: 170px;
}

#u589
{
	z-index: 24;
	width: 184px;
	background-color: transparent;
	position: relative;
	margin-right: -184px;
	margin-top: 9px;
	left: 9px;
	visibility: visible;
}

#u589-2
{
	z-index: 26;
	position: relative;
	width: 203px;
	margin-right: -203px;
	visibility: hidden;
}

#pu583
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
}

#u583
{
	z-index: 29;
	width: 184px;
	background-color: transparent;
	position: relative;
	margin-right: -184px;
	margin-top: 9px;
	left: 9px;
	visibility: visible;
}

#u583-2
{
	z-index: 31;
	position: relative;
	width: 203px;
	margin-right: -203px;
	visibility: hidden;
}

#u238-4
{
	z-index: 58;
	width: 97px;
	min-height: 20px;
	font-size: 21px;
	color: #FFFFFF;
	text-align: center;
	font-family: delius-swash-caps-n4, delius-swash-caps, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -97px;
	margin-top: 60px;
	left: 217px;
}

#u240-4
{
	z-index: 62;
	width: 97px;
	min-height: 20px;
	font-size: 21px;
	color: #FFFFFF;
	text-align: center;
	font-family: delius-swash-caps-n4, delius-swash-caps, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -97px;
	margin-top: 60px;
	left: 50px;
}

#pslideshowu255
{
	width: 0.01px;
	margin-top: 38px;
	position: relative;
}

#slideshowu255
{
	z-index: 13;
	width: 0.01px;
	height: 0px;
	padding-bottom: 339px;
	position: relative;
	margin-right: -1px;
	margin-top: 14px;
	left: 6px;
}

#u289
{
	position: absolute;
	z-index: 14;
	width: 622px;
	height: 339px;
	background-color: transparent;
}

#u390
{
	z-index: 15;
	width: 622px;
	height: 339px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -622px;
	position: relative;
}

#u399
{
	z-index: 17;
	width: 622px;
	height: 339px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -622px;
	position: relative;
}

#u413
{
	z-index: 19;
	width: 622px;
	height: 339px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -622px;
	position: relative;
}

#u390_img,#u399_img,#u413_img
{
	margin-top: -38px;
	margin-bottom: -38px;
}

#u380
{
	z-index: 21;
	width: 622px;
	height: 339px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -622px;
	position: relative;
}

#u390_clip,#u399_clip,#u413_clip,#u380_clip
{
	overflow: hidden;
	width: 622px;
	height: 339px;
}

#u380_img
{
	margin-top: -92px;
	margin-bottom: -92px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background-image: url("../images/loading.gif");
	background-position: center center;
	background-repeat: no-repeat;
}

#u198
{
	z-index: 33;
	width: 633px;
	border-style: solid;
	border-color: #F7931E;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.75);
	-pie-background: rgba(255, 255, 255, 0.75);
	-moz-border-radius: 3px 3px 0px 0px ;
	-webkit-border-radius: 3px 3px 0px 0px ;
	-khtml-border-radius: 3px 3px 0px 0px ;
	border-radius: 3px 3px 0px 0px ;
	padding-bottom: 47px;
	position: relative;
	margin-right: -633px;
	margin-top: 2px;
	border-width: 4px 0px 0px;
}

#u237-4
{
	z-index: 54;
	width: 231px;
	min-height: 151px;
	position: relative;
	margin-right: -231px;
	margin-top: 154px;
	left: 23px;
}

#pu199
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 19px;
	left: 22px;
}

#u199
{
	z-index: 35;
	position: relative;
	width: 110px;
	margin-right: -110px;
	visibility: visible;
}

#u199-2
{
	z-index: 37;
	position: relative;
	width: 110px;
	margin-right: -110px;
	visibility: hidden;
}

#pu201
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 247px;
	left: 380px;
}

#u201
{
	z-index: 40;
	width: 65px;
	background-color: transparent;
	position: relative;
	margin-right: -65px;
	margin-top: 9px;
	left: 9px;
	visibility: visible;
}

#u201-2
{
	z-index: 42;
	position: relative;
	width: 83px;
	margin-right: -83px;
	visibility: hidden;
}

#u203
{
	z-index: 44;
	width: 198px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(247, 147, 30, 0.34)),color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(top,rgba(247, 147, 30, 0.34) ,#FFFFFF 100%);
	background: -moz-linear-gradient(top,rgba(247, 147, 30, 0.34) ,#FFFFFF 100%);
	background: -ms-linear-gradient(top,rgba(247, 147, 30, 0.34) ,#FFFFFF 100%);
	background: -o-linear-gradient(top,rgba(247, 147, 30, 0.34) ,#FFFFFF 100%);
	background: linear-gradient(to bottom,rgba(247, 147, 30, 0.34) ,#FFFFFF 100%);
	-pie-background: linear-gradient(top,rgba(247, 147, 30, 0.34) ,#FFFFFF 100%);
	border-style: solid;
	border-color: #F7931E;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	position: relative;
	margin-right: -223px;
	left: 644px;
	padding: 10px 12px 63px 13px;
	border-width: 4px 0px 0px;
}

#u241-4
{
	z-index: 66;
	width: 198px;
	min-height: 33px;
	font-size: 24px;
	color: #006837;
	font-family: delius-swash-caps-n4, delius-swash-caps, sans-serif;
	font-weight: 400;
	position: relative;
}

#u206
{
	z-index: 50;
	margin-left: 5px;
	margin-top: 18px;
	position: relative;
}

#u606
{
	z-index: 72;
	width: 198px;
	height: 1px;
	border-color: #7F7F7F;
	background-color: #7F7F7F;
	margin-top: 28px;
	position: relative;
}

#u208
{
	z-index: 52;
	margin-left: 5px;
	margin-top: 24px;
	position: relative;
}

#pu204
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 251px;
	left: 469px;
}

#u204
{
	z-index: 46;
	width: 58px;
	background-color: transparent;
	position: relative;
	margin-right: -58px;
	margin-top: 9px;
	left: 9px;
	visibility: visible;
}

#u589_img,#u583_img,#u201_img,#u204_img
{
	vertical-align: top;
}

#u204-2
{
	z-index: 48;
	position: relative;
	width: 76px;
	margin-right: -76px;
	visibility: hidden;
}

#pu589:hover #u589,#pu583:hover #u583,#pu199:hover #u199,#pu201:hover #u201,#pu204:hover #u204
{
	visibility: hidden;
}

#pu589:hover #u589-2,#pu583:hover #u583-2,#pu199:hover #u199-2,#pu201:hover #u201-2,#pu204:hover #u204-2
{
	visibility: visible;
}

#u601
{
	z-index: 70;
	position: relative;
	width: 121px;
	margin-right: -121px;
	margin-top: 189px;
	left: 524px;
}

#u589-2_img,#u583-2_img,#u199_img,#u199-2_img,#u201-2_img,#u206_img,#u208_img,#u204-2_img,#u601_img
{
	display: block;
	vertical-align: top;
}

#u610-4
{
	z-index: 73;
	width: 160px;
	min-height: 22px;
	font-size: 20px;
	color: #F15A24;
	font-family: delius-swash-caps-n4, delius-swash-caps, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -160px;
	margin-top: 135px;
	left: 24px;
}

body
{
	padding-bottom: 9px;
}

